/*
 * Folio Main CSS File
 * @author Connell
 */

@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

/* Tags */
body {
  background-color: #252529;
  color: lightgrey;
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
}

*:focus {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.leave-forum-btns {
  margin-top: -15px;
  margin-bottom: 15px;
}

.leave-forum-msg {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: -15px;
}

/* IDs */
#open-basic-options img {
  opacity: 0.6;
}

#search-menu > .modal-content {
  max-width: 450px;
  width: 70vw;
}

#notifications-container {
  text-align: center;
  margin-top: -5px;
}

#inbox-modal > .modal-content {
  max-height: 600px;
  max-width: 500px;
  overflow-y: auto;
  width: 80vw;
}

#user-posts-modal > .modal-content {
  max-width: 500px;
  max-height: 570px;
  position: relative;
  width: 80vw;
}

#user-posts-modal .forum-post-container {
  background-color: #29292e;
  border: 3px solid #29292e;
}

#user-posts-modal .forum-post-comments {
  background-color: #19191d;
}

#user-posts-modal .posts-empty {
  background-color: #29292e;
    border: 3px solid #29292e;
    margin-bottom: 0px;
    width: 424px;
}

#post-forum-section, #post-forum-sorting {
  margin-bottom: 35px;
  width: 460px;
}

#post-forum-sorting {
  margin-bottom: 25px;
  margin-top: -10px;
}

#post-forum-sorting h2.section-title {
  transform: translateY(1px);
  margin-bottom: 5px;
}

#forum-posts-container {
  margin-bottom: 20px;
  margin-top: -20px;
}

#search-menu {
  display: none;
}

#settings-load-screen, .load-scrn {
  color: lightgrey;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 27px;
  text-align: center;
  margin-top: 23px;
}

#settings-load-screen > img, .load-scrn > img {
  width: 150px;
  text-align: center;
  margin-top: 40px;
}

#settings-load {
  display: none;
}

#members-load-screen {
  margin-bottom: 15px;
  margin-top: 20px;
}

#joined-forums-container {
  display: none;
}

#comment-section {
  margin-bottom: 25px;
}

#reg-form {
  background-color: #2f2f33;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#search-res {
  text-align: left;
  margin-top: 12px;
  margin-bottom: 15px;
  margin-left: 4px;
  margin-right: 3px;
  max-height: 200px;
  overflow-y: auto;
  position: relative;
}

#profile-name-container {
  background-color: #18181c;
  border: 3px solid #3c3c42;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  text-align: left;
  margin: auto;
  margin-top: 50px;
  position: relative;
  padding: 15px;
  padding-right: 0;
  width: 440px;
}

#profile-img {
  display: inline-block;
  border-radius: 5px;
  width: 115px;
  height: 115px;
}

#profile-name {
  color: white;
  display: inline-block;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 35px;
  font-weight: lighter;
  margin: auto;
  margin-bottom: 20px;
  margin-left: 15px;
  overflow: hidden;
  padding-right: 15px;
  width: 230px;
}

#profile-location, #join-date, #creation-date, #forum-members {
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
}

#profile-media-container {
  display: inline-block;
  transform: translateY(-45px)
}

#location-icon {
  transform: translate(3px, -18px);
  position: absolute;
  width: 50px;
}

#content {
  display: none;
  padding-top: 50px;
  width: 100%;
}

#bio {
  background-color: #242429;
  border: 3px solid #3c3c42;
  border-radius: 5px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  text-align: left;
  line-height: 23px;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
  padding: 12px;
  margin-top: 10px;
  margin-right: 13px;
  margin-bottom: 2px;
  height: 80px;
  width: 398px;
}

pre#bio {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.profile-name-cont #bio {
  width: 395px;
}

#loading-info {
	display: block;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 30px;
  top: 50%;
  left: calc(50% - 110px);
  position: absolute;
}

#user-search {
  display: inline-block;
  text-align: left;
  margin: auto;
  margin-bottom: 5px;
  margin-top: -7px;
  max-width: unset;
  padding: 5px;
  height: 35px;
  width: calc(100% - 48px);
}

#search-button {
  background-color: #34c24e;
  border: none;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 21px;
  transition: 0.3s;
  margin-bottom: 15px;
  padding: 8px;
  width: calc(100% - 32px);
}

#search-button:hover {
  background-color: #228334;
  color: lightgrey;
  cursor: pointer;
  transition: 0.3s;
}

#open-search {
  background-color: #1e1e24;
  border: none;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 22px;
  transition: 0.3s;
  text-align: left;
  margin: auto;
  margin-top: 12px;
  margin-left: 24px;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

#open-search:hover {
  background-color: #18181c;
  cursor: pointer;
  transition: 0.3s;
}

div#top-bar {
  background-color: #2a2a2e;
  border-bottom: 3px solid #3c3c42;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: fixed;
  height: 67px;
  width: 100%;
  z-index: 10;
}

#top-buttons {
  overflow: hidden;
  float: right;
}

#vcode {
  font-size: 50px;
  text-align: center;
  height: 50px;
}

#vcode::-webkit-input-placeholder {
  font-size: 30px;
  transform: translateY(-25%);
}

#logo-img {
  float: left;
  margin: 10px;
  margin-right: -5px;
  margin-top: 12px;
  width: 120px;
}

#logo-img-small {
  display: none;
  float: left;
  margin: 10px;
  margin-right: -10px;
  margin-top: 13px;
  width: 39px;
}

#profile-items-container {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  margin-left: 15px;
  margin-top: -22px;
  position: absolute;
}

/* Classes */
.title-img {
  pointer-events: none;
  user-select: none;
  display: inline-block;
  margin-bottom: -4px;
  margin-left: 10px;
  height: 25px;
  width: 25px;
}

.home-forum-posts .res-empty {
  padding-left: 0;
  padding-right: 0;
}

.home-list-item {
  background-color: #29292e;
  border-radius: 3px;
  margin-bottom: 12px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 4px;
  padding-bottom: 5px;
}

.home-list-item > * {
  display: inline-block;
}

.item-icon {
  border: none;
  border-radius: 3px;
  transform: translateY(3px);
  height: 45px;
  width: 45px;
}

.item-title {
  display: block;
  font-size: 17px;
  margin-bottom: 8px;
  margin-left: 13px;
}

.item-title > a {
  color: white;
  text-decoration: none;
}

.item-sub {
  color: rgb(187, 187, 187);
  display: block;
  transform: translateY(-3px);
  margin-left: 12px;
}

.item-title > a:hover {
  text-decoration: underline;
}

.item-num {
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 23px;
  transform: translateY(-12px);
  margin-right: 14px;
  margin-left: 10px;
}

.seperation-border {
  border-top: 5px solid #0f0f13;
  border-top-style: dashed;
  margin-top: 35px;
  margin-bottom: -10px;
}

.credit-area {
  margin-top: 15px;
  padding-bottom: 15px;
}

.credit-name {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  opacity: 0.7;
}

.link-title {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 6px;
  margin-left: 15px;
}

.link-title ~ .h-link {
  font-size: 18px;
  margin-left: 15px;
}

.title {
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  text-align: left;
  margin: auto;
  margin-bottom: 1px;
  margin-top: 15px;
  margin-left: 15px;
}

.title > * {
  display: inline-block;
}

button.del-account {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 15px;
  padding: 10px;
  transition: 0.3s;
}

.del-notif {
  float: right;
  margin-right: 3px;
}

.notification-wrapper {
  background-color: #29292e;
  border: none;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 1px;
  padding: 7px;
  width: calc(100% - 44px);
}

.notif-date {
  color: grey;
  font-size: 18px;
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: 13px;
  margin-left: 5px;
  margin-top: 3px;
}

.notif-body {
  font-size: 16px;
  text-align: left;
  line-height: 25px;
  margin-left: 5px;
}

.notif-sub {
  background-color: #1d1d23;
  border: none;
  border-radius: 3px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 5px;
  max-height: 90px;
  overflow-wrap: break-word;
  overflow-y: auto;
  padding: 10px;
  width: calc(100% - 30px);
}

.notif-count {
  display: inline-block;
}

.settings-email {
  color: #8cff53;
  background-color: #242429;
  border: none;
  border-radius: 4px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
  overflow-x: hidden;
  padding: 6px;
  padding-left: 10px;
}

.sorting-options-container {
  margin-top: -5px;
  margin-bottom: 12px;
  overflow-wrap: break-word;
}

.sorting-options-container > * {
  display: inline-block;
}

.sorting-options-container > h2 {
  margin-right: 4px;
}

.sorting-options-container > .save-btn {
  padding: 11px;
}

.sort-options {
  cursor: pointer;
  margin-left: 12px;
  max-width: 150px;
}

.load-more-comments:disabled, .load-more-comments[disabled], .show-post-comments:disabled, .show-post-comments[disabled] {
  background-color: white;
  color: black;
}

.load-more-comments {
  background-color: white;
  border: none;
  border-radius: 3px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 19px;
  transition: 0.3s;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: calc(100% - 24px);
}

.load-more-comments:hover {
  background-color: #a3a3a3;
  cursor: pointer;
  transition: 0.3s;
}

.forum-post-wrapper {
  margin-bottom: 10px;
}

.forum-post-comments-container {
  overflow-y: auto;
  text-align: left;
  margin-top: 15px;
  max-height: 568px;
  height: auto;
}

div.add-post-comment-div {
  border-bottom: 3px solid #3c3c42;
  text-align: left;
  margin-top: -5px;
}

.forum-post-actions {
  float: right;
  transform: translate(-18px, 3px) scale(1.07);
  overflow: visible;
}

button.edit-forum-btn {
  background-color: white;
  border: none;
  border-radius: 3px;
  color: black;
  display: none;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  transition: 0.3s;
  padding: 5px;
  position: absolute;
  right: 12px;
  top: 12px;
}

button.edit-forum-btn:hover {
  background-color: #a3a3a3;
  cursor: pointer;
  transition: 0.3s;
}

button.post-forum-btn {
  margin-bottom: 12px;
  margin-left: 12px;
  margin-top: 10px;
  width: 100px;
}

.forum-post-title {
  background-color: #242429;
  border: 3px solid #3c3c42;
  border-radius: 3px;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 12px;
  padding: 8px;
  width: calc(100% - 47px);
}

.forum-post-textarea {
  background-color: #242429;
  border: 3px solid #3c3c42;
  border-radius: 3px;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  margin-left: 12px;
  padding: 8px;
  resize: none;
  height: 70px;
  width: calc(100% - 47px);
}

.join-forum-btn {
  background-color: #2abf59;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  transition: 0.3s;
  margin-top: 8px;
  padding: 5px;
  width: 428px;
}

.join-forum-btn:hover {
  background-color: #1f9143;
  color: lightgrey;
  cursor: pointer;
  transition: 0.3s;
}

.joined-forum-btn {
  color: white;
  background-color: #f53643;
  transition: 0.3s;
}

.joined-forum-btn:hover {
  color: lightgrey;
  background-color: #b62731;
  transition: 0.3s;
}

.view-members {
  background-color: #1e1e24;
  border: 3px solid #3c3c42;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  transition: 0.3s;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 9px;
  width: 466px;
}

.view-members:hover {
  background-color: #18181c;
  color: lightgrey;
  cursor: pointer;
  transition: 0.3s;
}

.view-user-posts {
  margin-bottom: -5px;
  width: 461px;
}

.profile-item {
  margin-top: 10px;
}

.section-disabled {
  color: grey;
  font-weight: lighter;
  font-style: italic;
  font-size: 22px;
  float: right;
  margin-right: 15px;
}

.res-empty {
  color: #64ff79;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  padding: 20px;
}

.res-img {
  border-radius: 3px;
  display: inline-block;
  transform: translate(10px, -43px);
  position: absolute;
  pointer-events: none;
  height: 30px;
  width: 30px;
}

.res-img-undl {
  margin-top: 10px;
}

.footer-img {
  pointer-events: none;
  margin-bottom: 5px;
  margin-top: 15px;
  transform: translateY(-2px);
  width: 200px;
}

.votes {
  background-position: center;
  color: lightgrey;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 35px;
  text-align: left;
  transform: translateX(100px);
  transition: 0.3s;
  overflow: hidden;
  position: absolute;
  width: 100px;
}

.underline {
  border-bottom: 3px solid #1d1d24;
  padding-bottom: 16px;
}

.last-item {
  padding-bottom: 16px;
}

.vote {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 10px;
  position: absolute;
  filter: none;
  opacity: 0.75;
  margin: auto;
  margin-top: 3px;
  height: 35px;
  width: 28px;
}

.vote > img {
  transform: translateX(-2.5px);
  pointer-events: none;
  width: 20px;
}

.vote:hover {
  cursor: pointer;
  transition: 0.5s;
}

.downvote {
  filter: sepia(200%) saturate(0%) brightness(100%) hue-rotate(200deg);
  transform: translateX(60px) rotate(180deg);
  transition: 0.5s;
}

.downvote-selected {
  filter: sepia(200%) saturate(1500%) brightness(70%) hue-rotate(200deg);
  transition: 0.5s;
}

.upvote {
  filter: sepia(100%) saturate(0%) brightness(100%) hue-rotate(150deg);
  transform: translateX(26px);
  transition: 0.5s;
}

.upvote-selected {
  filter: sepia(100%) saturate(1500%) brightness(70%) hue-rotate(150deg);
  transition: 0.5s;
}

button.likes-icon {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transform: translateX(5px);
}

button.likes-icon > img {
  transition: 0.3s ease;
  margin-bottom: -6px;
  filter: sepia(100%) saturate(0) brightness(70%) hue-rotate(255deg);
  width: 25px;
}

button.likes-icon > img:hover {
  filter: sepia(100%) saturate(1000%) brightness(70%) hue-rotate(255deg);
  transition: 0.3s ease;
}

button.like-icon-selected > img {
  filter: sepia(100%) saturate(1000%) brightness(70%) hue-rotate(255deg);
}

.liked {
  color: #5cceff;
  transition: 0.3s;
}

.profile-section {
  background-color: #18181c;
  border: 3px solid #3c3c42;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  text-align: center;
  margin-top: 25px;
  width: 455px;
}

.profile-section-container {
  text-align: left;
}

.section-title {
  letter-spacing: 2px;
  margin-top: 12px;
  margin-left: 12px;
}

.center-container {
  text-align: center;
  overflow: hidden;
}

.icon {
  display: inline-block;
  pointer-events: none;
  width: 20px;
}

.dev-name {
  display: inline-block;
  margin-bottom: -5px;
}

.input-field {
  background-color: #242429;
  border: 3px solid #3c3c42;
  border-radius: 3px;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  margin-top: 10px;
  transition: 0.3s;
  padding: 8px;
  width: 100%;
}

.input-field:focus {
  background-color: #1e1e24;
  transition: 0.3s;
}

.second-input {
  margin-top: 17px;
}

div.form-header {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 3px solid #3c3c42;
  width: 100%;
  height: 90px;
}

div.form-footer {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 3px solid #3c3c42;
  transform: translateY(5px);
  margin-top: 10px;
  width: 100%;
  height: 30%;
}

.footer-text {
  color: #1a1a1a;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 30px;
  transform: translateY(calc(-50% + 3px));
  padding-top: 20px;
}

.header-text {
  color: #1a1a1a;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 40px;
  margin: auto;
  padding-top: 30px;
  letter-spacing: 2px;
  transition: 0.3s;
}

.header-text:hover {
  color: darkgrey;
  letter-spacing: 6px;
  transition: 0.3s;
}

.reg-page {
  text-align: center;
  margin: auto;
  overflow: hidden;
}

.side-info > ul {
  color: lightgrey;
  font-family: 'Ubuntu Mono', monospace;
  list-style-type: none;
  padding: 0;
}

.side-info > ul > li {
  background-color: #29292e;
  border: 3px solid #29292e;
  box-shadow: 0 6px 0px 0px #1e1e24;
  border-radius: 5px;
  text-align: left;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  padding-right: 15px;
  transform: translate(0, 0);
  transition: 0.25s;
  width: 104%;
}

.side-info > ul > li:hover {
  color: goldenrod;
  transition: 0.25s;
}

.p-header {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-align: left;
  transition: 0.3s;
  letter-spacing: 1.5px;
  margin: auto;
  margin-top: 20px;
  margin-left: 40px;
  pointer-events: none;
  width: 80%;
}

.p-header:focus-within {
  color: #787878;
  transition: 0.3s;
}

.p-header > * {
  pointer-events: all;
}

.dropdown {
  cursor: pointer;
  width: 100%;
}

.ver-txt {
  color: #20d7da;
  display: inline-block;
}

div.bullet-point {
	color: #f53643;
	display: inline-block;
}

.add-comment {
  border-radius: 3px;
  border: none;
	background-color: #242429;
	color: white;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 23px;
  padding: 10px;
  margin-bottom: 15px;
  margin-left: 12px;
  margin-right: 12px;
  width: calc(100% - 125px);
}

.add-comment-btn {
  border-radius: 3px;
  border: none;
  background-color: #242429;
	color: #adadad;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 23px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 12px;
  transition: 0.3s;
  width: auto;
}

.add-comment-btn:hover {
  color: white;
  cursor: pointer;
  background-color: #1d1d21;
  transition: 0.3s;
}
  
button.standard-button {
	background-color: #1e1e24;
  border-radius: 3px;
  border: none;
	color: #adadad;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 20px;
	padding: 13px;
	margin-top: 20px;
	transition: 0.3s;
}
  
button.standard-button:hover {
	cursor: pointer;
	background-color: #18181c;
	color: white;
	transition: 0.3s;
}
  
button.reg-button {
	color: grey;
  background-color: #1a1a1a;
  background-position: center;
	border: none;
  margin-top: 30px;
  margin-bottom: 5px;
  transition: 0.3s;
  width: calc(100% + 23px);
}

button.reg-button:hover {
	color: white;
	cursor: pointer;
  background: #1a1a1a radial-gradient(circle, transparent 1%, #1a1a1a 1%) center/15000%;
	border: none;
  transition: 0.75s;
}

button.login-success, button.login-success:hover, button.login-success:active {
	color: black;
  background-color: white;
  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-bottom: 5px;
  transition: 0.3s;
}

button.reg-button:active {
  background-color: #262626;
  background-size: 100%;
  transition: 0s;
}
  
.inl {
  margin-right: 20px;
}
  
h1.header {
	color: white;
	text-align: left;
	padding-left: 10px;
	display: inline-block;
	font-size: 50px;
	margin-bottom: 20px;
	margin-top: 13px;
	margin-left: 10px;
}

.clientm {
  transform: translate(0, 200px);
  transition: 0.4s ease;
  text-align: center;
  bottom: 30px;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 25;
}

button.clientm-success {
  color: white;
  background-color: #16161a;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  border: none;
  border-top: 6px solid #34c24e;
  border-radius: 3px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  transition: 0.3s, color 0.2s;
  padding: 10px;
  line-height: 1.3;
  margin: auto;
  width: 300px;
}

button.clientm-success:hover {
  color: lightgrey;
	cursor: pointer;
	background-color: #111114;
	border-color: #29943d;
	transition: 0.3s;
}

button.clientm-fail {
  color: white;
  background-color: #16161a;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  border: none;
  border-top: 6px solid #ed001f;
  border-radius: 3px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  transition: 0.3s;
  padding: 10px;
  line-height: 1.3;
  margin: auto;
  width: 300px;
}

button.clientm-fail:hover {
  color: lightgrey;
	cursor: pointer;
	background-color: #111114;
	border-color: #c4001a;
	transition: 0.3s;
}

.banned-members-container {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 12px;
  margin-left: -12px;
  min-height: 60px;
  max-height: 150px;
  width: calc(100% + 46px);
}

.banned-members-container .profile-forum {
  height: 65px;
}

.banned-members-container .member-options {
  transform: translate(68px, -31px);
}

.profile-image-bar {
  border-radius: 3px;
  transition: 0.2s;
  transform: translate(5px, 20px);
  pointer-events: none;
  position: absolute;
  height: 40px;
  width: 40px;
  z-index: 1;
}

button.standard-button.profile-username-btn {
  text-align: left;
  margin-top: 16px;
  padding: 9px;
  padding-bottom: 8px;
  overflow: visible;
  width: auto;
}

.profile-username-bar {
  color: white;
  font-size: 25px;
  transform: translateY(-2px);
  margin-left: 45px;
  overflow: visible;
  padding: 3px;
}

.profile-bar-container {
  float: right;
  overflow: hidden;
  margin-top: -5px;
  margin-right: 10px;
}

.account-options {
  background-color: #18181c;
  border: 3px solid #3c3c42;
  border-radius: 5px;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.3), 0 3px 20px 0 rgba(0, 0, 0, 0.3);
  display: none;
  transform: translate(-15px, 85px);
  right: 0;
  padding-top: 7px;
  position: absolute;
  height: auto;
  width: 200px;
  z-index: 2;
}

.account-options > .skip-reg > .bullet-point {
  padding-left: 15px;
}

.account-option {
  display: inline-block;
  text-align: left;
  padding: 8px;
  margin-left: 6px;
}

.page-footer-container {
  position: relative;
  margin-bottom: 100px;
  z-index: 0;
}

.page-footer {
  background-color: #1e1e21;
  border-top: 3px solid #2e2e33;
  box-shadow: 0 15px 8px 0 rgba(0, 0, 0, 0.4), 0 3px 20px 0 rgba(0, 0, 0, 0.5);
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  text-align: left;
  position: fixed;
  padding-top: 16px;
  padding-bottom: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.page-footer > * {
  margin-left: 20px;
}

.votes-container {
  position: absolute;
  right: 110px;
  margin-top: -1px;
}

.delete-comment {
  color: white;
  background-color: #ff1430;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  margin-left: 5px;
  position: absolute;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  transform: translateY(10px);
  transition: 0.3s;
  right: -4px;
  width: auto;
}

.delete-comment:hover {
  color: lightgrey;
  cursor: pointer;
  background-color: #9e1021;
  transition: 0.3s;
}

.end-replies {
  color: white;
  text-align: center;
  margin-bottom: 12px;
  opacity: 0.6;
}

.new-forum {
  display: none;
  float: right;
  margin-top: -1px;
  margin-right: 10px;
}

.new-btn {
  background-color: #26262b;
  border: none;
  border-radius: 3px;
  color: lightgrey;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  transition: 0.3s ease;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
}

.new-btn:hover {
  background-color: #1d1d21;
  color: #adadad;
  cursor: pointer;
  transition: 0.3s ease;
}

.skip-reg {
  color: lightgrey;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 18px;
  text-decoration: none;
  transition: 0.15s;
  overflow-wrap: break-word;
}

.skip-reg:hover {
  color: goldenrod;
  cursor: pointer;
  transition: 0.15s;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.login-form-container {
  background-color: #2f2f33;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
  text-align: center;
  margin: auto;
  margin-top: 10vh;
  overflow: visible;
  height: 470px;
  width: 500px;
}

.upvote:active {
  border-radius: 100px;
  box-shadow: 0 1px 0 5px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  transition: 0.3s ease;
}

.downvote:active {
  border-radius: 100px;
  box-shadow: -1px 1px 0 5px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  transition: 0.15s ease;
}

.searchbar-long {
  width: 35vw;
}

.settings-option-header {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
  margin: auto;
  margin-bottom: -15px;
  margin-left: 22px;
}

/* Profile Forum UI */
.profile-forum > * {
  display: inline-block;
}

.profile-forum {
  background-color: #29292e;
  border: none;
  border-radius: 3px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 8px;
  position: relative;
  width: auto;
}

.profile-forum-icon {
  border-radius: 3px;
  margin: 3px;
  margin-bottom: -1px;
  height: 80px;
  width: 80px;
}

.profile-forum-title, .forum-member-name {
  color: lightgrey;
  font-size: 20px;
  top: 14px;
  letter-spacing: 1px;
  margin-left: 12px;
  position: absolute;
}

.profile-forum-desc {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 12px;
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  height: 45px;
  width: calc(100% - 100px);
}

.profile-forum-date {
  color: grey;
  display: inline-block;
  margin-left: 8px;
}

.member-img {
  border-radius: 3px;
  margin: 3px;
  margin-bottom: -1px;
  width: 60px;
  height: 60px;
}

.member-default-option {
  background-color: white;
  border-radius: 2px;
  border: none;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  transition: 0.3s;
  transform: translateY(-1px);
  margin-left: 8px;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

.member-default-option:hover {
  background-color: #a3a3a3;
  cursor: pointer;
  transition: 0.3s;
}

button.close-members-modal:hover {
  background-color: #8a2323;
  color: lightgrey;
  cursor: pointer;
  transition: 0.3s;
}

button.close-members-modal {
  background-color: #c23434;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  transition: 0.3s;
  margin-bottom: 15px;
  margin-top: -10px;
  padding: 6px;
  width: calc(100% - 24px);
}

.member-option-red {
  color: white;
  background: #ff1430;
}

.member-option-red:hover {
  color: lightgrey;
  background: #9e1021;
}

.member-option-green {
  color: white;
  background: #2abf59;
}

.member-option-green:hover {
  color: lightgrey;
  background: #1f9143;
}

.member-options {
  float: left;
  transform: translate(68px, -25px);
  height: auto;
}

#members-modal > .modal-content {
  min-width: 330px;
}

#joined-forums-container {
  max-height: 230px;
  overflow-y: auto;
}

/* Comment UI */
#comments-container {
  overflow-y: auto;
  height: auto;
  width: 100%;
}

.likes-container {
  position: relative;
  float: right;
  margin-right: 8px;
}

.likes-icon {
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s ease;
  margin-right: 5px;
}

.likes-count {
  display: inline-block;
  font-size: 22px;
  text-align: right;
  transform: translate(3px, 3px);
  transition: 0.3s;
}

.reply-del-comment {
  top: 3px;
  right: 12px;
}

.add-reply {
  margin-top: -20px
}

.add-reply > * {
  font-size: 18px;
}

.add-reply > button {
  width: auto;
}

.add-reply > input {
  width: calc(100% - 150px);
}

.add-comment-div {
  border-bottom: 3px solid #3c3c42;
  margin-top: -20px;
  margin-bottom: 15px;
}

.comment {
  color: white;
  background-color: #29292e;
  border-radius: 3px;
  font-size: 18px;
  text-align: left;
  position: relative;
  letter-spacing: 1px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 8px;
}

.commenter-name > a, .profile-forum-title > a {
  color: #bababa;
  text-decoration: none;
}

.commenter-name > a:hover, .profile-forum-title > a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.commenter-name {
  display: inline-block;
  margin-bottom: 8px;
}

.comment-post-date {
  color: grey;
  display: inline-block;
  margin-left: 8px;
}

.comment-content {
  font-size: 16px;
  overflow-wrap: break-word;
  overflow-y: auto;
  max-height: 60px;
  margin-bottom: 15px;
  margin-right: 75px;
}

.forum-member-name {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 25px;
  width: calc(100%, -20px);
}

.replies {
  display: none;
}

.reply {
  margin-left: 50px;
}

.reply-indent {
  border-left: 3px solid grey;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 40px;
  text-align: right;
  transform: translate(-30px, -6px);
  pointer-events: none;
  position: absolute;
  height: 98%;
}

.create-forum-modal {
  background-color: #18181c;
  border: 3px solid #3c3c42;
  border-radius: 4px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.6);
  transform: translateY(17vh);
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 50vw;
  height: auto;
  max-width: 400px;
  min-width: 300px;
  max-height: 540px;
  min-height: 230px;
}

.forum-modal-btns {
  right: 0;
  position: absolute;
  margin-right: 15px;
  margin-top: -5px;
}

img.forum-editor-folio {
  border-radius: 3px;
  float: left;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 100%;
  min-width: 72px;
  width: 20%;
}

.forum-option {
  margin-bottom: 20px;
  width: calc(100% - 20px);
}

.create-forum-modal-bg .p-header {
  margin-left: 20px;
}

.modal-content {
  background-color: #18181c;
  border: 3px solid #3c3c42;
  border-radius: 4px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.6);
  transform: translateY(17vh);
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 50vw;
  height: auto;
  max-width: 400px;
  min-width: 300px;
  min-height: 100px;
}

.modal-title {
  font-size: 30px;
  margin-top: 17px;
}

.forum-icon-sel {
  border-radius: 3px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  float: left;
  margin-bottom: 25px;
  margin-top: 18px;
  margin-left: 18px;
  margin-right: 100%;
  width: 11vw;
  height: 11vw;
  max-width: 120px;
  max-height: 120px;
  min-width: 70px;
  min-height: 70px;
}

#members-container {
  text-align: left;
  margin-top: -10px;
  margin-bottom: 8px;
  max-height: 275px;
  overflow-y: auto;
  height: auto;
  width: auto;
}

/* User Settings Menu */
#settings-bg, .create-forum-modal-bg, .modal-bg {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
}

#settings-menu {
  background-color: #18181c;
  border: 3px solid #3c3c42;
  border-radius: 4px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.6);
  transform: translateY(17vh);
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  width: 70vw;
  height: auto;
  max-width: 400px;
  min-width: 300px;
  max-height: 540px;
  min-height: 165px;
  position: relative;
}

#settings-menu .p-header {
  margin-left: 20px;
}

#settings-btns-container {
  right: 0;
  position: absolute;
  margin-right: 20px;
}

#profile-img-select {
  border-radius: 3px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  float: left;
  margin-bottom: 25px;
  margin-top: 18px;
  margin-left: 22px;
  margin-right: 100%;
  width: 16vw;
  height: 16vw;
  max-width: 120px;
  max-height: 120px;
  min-width: 70px;
  min-height: 70px;
}

#prof-img-url {
  float: left;
  margin-bottom: 35px;
  margin-right: 80px;
}

#bio-textarea, #forum-desc-textarea {
  float: left;
  text-align: left;
  margin-bottom: 35px;
  resize: none;
  height: 80px;
}

.account-loc-setting {
  margin-bottom: 35px;
  width: 100%;
}

.other-settings-header {
  margin-bottom: 5px;
}

.other-settings-header input {
  cursor: pointer;
  background-color: #18181c;
  border: 3px solid #d3d3d3;
  border-radius: 3px;
  transform: translateY(3px);
  margin-top: 10px;
  opacity: 1;
  width: 20px;
  height: 20px;
}

/* Save Button */
button.save-btn {
  background-color: #34c24e;
  background-position: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0);
  color: white;
  transition: 0.5s;
  margin-left: 10px;
}

button.save-btn:hover {
  color: lightgrey;
  background: #36bf50 radial-gradient(circle, transparent 1%, #29943d 1%) center/15000%;
  border-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
  margin-left: 10px;
}

button.save-btn:active {
  background-color: #29943d;
  background-size: 100%;
  transition: 0s;
}

/* Cancel Button */
button.close-btn {
  background-color: #c23434;
  background-position: center;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0);
  color: white;
  transition: 0.5s;
  margin-left: 10px;
}

button.close-btn:hover {
  color: lightgrey;
  background: #bf3636 radial-gradient(circle, transparent 1%, #942929 1%) center/15000%;
  border-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
  margin-left: 10px;
}

button.close-btn:active {
  background-color: #942929;
  background-size: 100%;
  transition: 0s;
}

.register-prompt-container {
  transform: translateY(-10px);
}

.input-field.dropdown {
  width: calc(100% + 22px);
}

.post-forum {
  margin-top: 7px;
  width: 466px;
}

/* Forum Posts */
.forum-post-info {
  color: grey;
  text-align: left;
  margin: auto;
  margin-bottom: 13px;
  margin-top: -23px;
  margin-left: 13px;
}

.forum-post-container {
  margin-top: 18px;
  width: 460px;
}

.forum-post-comments {
  background-color: #18181c;
  border: 3px solid #3c3c42;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  display: none;
  margin-bottom: 15px;
  margin-top: 13px;
  width: 460px;
}

.forum-post-container a {
  color: lightgrey;
  text-decoration: none;
}

.forum-post-container a:hover {
  text-decoration: underline;
}

.forum-post-container > .section-title {
  text-align: left;
  margin-bottom: 13px;
  margin-left: 13px;
}

.forum-post-body {
  font-size: 17px;
  text-align: left;
  margin-bottom: 16px;
  margin-left: 13px;
  max-height: 150px;
  overflow-wrap: break-word;
  overflow-y: auto;
  width: calc(100% - 21px);
}

.posts-empty {
  background-color: #18181c;
  border: 3px solid #3c3c42;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 25px;
  padding-bottom: 13px;
  padding-top: 13px;
  width: 420px;
}

#forum-posts-container.home-forum-posts {
  margin-top: 20px;
}

#forum-posts-container.home-forum-posts .profile-section {
  width: 455px;
}

#profile-name-container.forum-name-container {
  width: 445px;
}

div.login-form-container input {
  width: calc(100% - 3px);
}

div.login-form-container button {
  width: calc(100% + 19px);
}

#reg-form .input-field {
  width: calc(100% - 5px);
}

#reg-form .dropdown {
  width: calc(100% + 17px);
}

#reg-form button {
  width: calc(100% + 17px);
}

.top-bar-btns-menu {
  display: none;
}

/* Mobile Compatibility */
@media (max-width: 450px) {

  .top-bar-btns {
    overflow: hidden;
    width: 17vw;
  }

}

@media (min-width: 455px) {

  .downvote:hover {
    filter: sepia(200%) saturate(1500%) brightness(70%) hue-rotate(200deg);
  }
  
  .upvote:hover {
    filter: sepia(100%) saturate(1500%) brightness(70%) hue-rotate(150deg);
  }

}

/* Mobile Viewport Styling */
@media (max-width: 700px) {

  .top-bar-btns {
    display: none;
  }

  .top-bar-btns-menu {
    display: block;
  }

  #logo-img-small {
    display: inline-block;
  }

  #logo-img {
    display: none;
  }

  #reg-form .input-field {
    width: calc(100% - 23px);
  }
  
  #reg-form .dropdown {
    width: calc(100% - 1px);
  }
  
  #reg-form button {
    width: calc(100% - 1px);
  }

  div.login-form-container input {
    width: calc(100% - 25px);
  }
  
  div.login-form-container button {
    width: calc(100% - 3px);
  }

  .forum-img {
    margin-right: 10px;
  }

  .forum-media {
    transform: translateY(8px);
    margin-top: -3px;
    margin-left: -14px;
    margin-right: 20px;
  }

  .view-members {
    width: calc(90vw + 20px);
  }

  .profile-section, #post-forum-section, #post-forum-sorting {
    width: calc(90vw + 15px);
  }

  #forum-posts-container.home-forum-posts .profile-section{
    width: calc(90vw + 15px);
  }

  #profile-name-container.forum-name-container {
    width: calc(90vw - 1px);
  }

  .posts-empty {
    width: calc(90vw + -25px);
  }

  .profile-forum-date {
    display: none;
  }

  .inl {
    margin-right: 8px;
  }

  .join-forum-btn {
    width: calc(100% - 17px);
  }

  .post-forum {
    width: calc(90vw + 14px);
  }

  #top-buttons {
    margin-right: 0;
  }

  #profile-name-container {
    width: 90vw;
  }

  #profile-name {
    font-size: 30px; 
  }

  #profile-media-container {
    font-size: 10px;
  }

  #location-icon {
    transform: translateY(-35px);
  }

  #bio, .profile-name-cont #bio {
    margin-right: 0;
    width: calc(100% - 46px);
  }

  #profile-img {
    width: 20vw;
    height: 20vw;
    min-height: 85px;
    min-width: 85px;
  }

  #join-date-container {
    margin-top: 2px;
  }

  #join-date {
    display: block;
  }

  #profile-items-container {
    margin-top: -25px;
  }

  #user-posts-modal > .modal-content {
    width: 90vw;
    max-width: unset;
  }

  #user-posts-modal .forum-post-container, .forum-post-comments {
    width: calc(100% - 35px);
  }

  #user-posts-modal .posts-empty {
    width: calc(100% - 76px);
  }

  div.login-form-container {
    width: 90vw;
  }
  
  .searchbar-short {
    width: 50px;
  }

  .p-header {
    margin-right: 27px;
    margin-left: 27px;
    position: relative;
    width: auto;
  }
  
  .register-prompt-container {
    transform: translate(25%, -25px);
    width: 70%;
  }

  /* Shrink User Info */
  .account-options {
    transform: translate(-10px, 85px);
  }

  .options-container-bubble {
    transform: translate(130px, -110px);
  }

  button.standard-button.profile-username-btn {
    margin-right: 18px;
    height: 48px;
    width: 48px;
  }

  .profile-username-bar {
    display: none;
  }

  .profile-bar-container {
    overflow: visible;
  }

  .profile-image-bar {
    transform: translate(4px, 20px);
  }

  button.login-success, button.login-success:hover, button.login-success:active {
    width: 100%;
  }

}

/* Login/Register Form */
.reg-page {
  margin-top: -30px;
}

select.input-field {
  width: calc(100% + 16px);
}

.form-container {
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 10vh;
  height: 680px;
  width: 90vw;
  max-width: 500px;
}

.reply-options {
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  margin-bottom: 12px;
  margin-left: 12px;
  opacity: 0.6;
}

.reply-options:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
}

@media (max-width: 1300px) {

  .side-info {
    display: inline-block;
    font-size: 30px;
    position: absolute;
    margin-top: 750px;
    margin-left: -250px;
  }
}

.inner-info {
  display: block;
  position: absolute;
  font-size: 30px;
  transform: translate(25px, 180px);
  margin: 0;
  width: 400px;
}

.bans-empty {
  background-color: #242429;
  border: 3px solid #3c3c42;
  border-radius: 3px;
  margin-left: 12px;
  padding: 7px;
  width: calc(100% - 64px);
}

/* Override Styling */
.comments-empty {
  padding-top: 8px;
}

.forum-section {
  margin-top: 5px;
}

.home-content-container {
  margin-bottom: 4px;
  margin-top: -6px;
  max-height: 140px;
  overflow-y: auto;
}

.section-empty {
  font-size: 27px;
  margin-bottom: 10px;
  padding: 5px;
}

#settings-menu .p-header > input, #settings-menu .p-header > .input-field {
  width: calc(100% - 23px);
}

#settings-menu .p-header > .dropdown {
  width: calc(100% - 1px);
}

.del-account-code {
  display: none;
}

.notifs-empty {
  font-size: 23px;
  padding: 0;
  padding-bottom: 5px;
  padding-top: 5px;
}

button.confirm-pass-change {
  background-color: white;
  color: black;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-top: 15px;
  padding: 10px;
}

button.confirm-pass-change:hover {
  background-color: #a3a3a3;
  color: black;
  transition: 0.3s;
}

img.h-link-img {
  border-radius: 3px;
  margin-bottom: 8px;
  margin-top: 10px;
  max-width: 140px;
}

a.h-link {
  color: rgb(155, 227, 255);
  text-decoration: none;
}

a.h-link:hover {
  text-decoration: underline;
}

.post-comments-empty {
  font-size: 22px;
  margin-bottom: -16px;
  padding: 15px;
}

select.search-filter {
  cursor: pointer;
  margin-bottom: 20px;
  width: calc(100% - 32px);
}

button.close-search-btn {
  background-color: white;
  border-radius: 3px;
  border: none;
  color: black;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  transition: 0.3s;
  margin: auto;
  margin-left: 1px;
  margin-bottom: 17px;
  padding: 8px;
  width: calc(100% - 30px);
}

button.close-search-btn:hover {
  background-color: #a3a3a3;
  cursor: pointer;
  transition: 0.3s;
}

button.close-user-posts {
  margin-top: -10px;
  margin-bottom: 20px;
}

button.delete-all {
  background-color: #ff1429;
  color: white;
  display: none;
  margin-top: -5px;
  transition: 0.3s;
}

button.delete-all:hover {
  background-color: #a50d1a;
  color: lightgrey;
  display: none;
  transition: 0.3s;
}

.search-res-empty {
  font-size: 24px;
  background-color: #242429;
  border: 3px solid #3c3c42;
  border-radius: 3px;
  margin-top: 14px;
  margin-left: 15px;
  padding: 13px;
  width: calc(100% - 61px);
}

button.advanced-search-btn {
  margin-left: 15px;
  padding-bottom: 13px;
  padding-top: 13px;
}

.small-modal > .modal-content {
  margin-top: 20vh;
}

#leave-forum-modal > .modal-content {
  margin-top: 15vh;
}

button.close-options {
  background-color: white;
  color: black;
  font-size: 18px;
  margin-bottom: -6px;
  margin-left: 9px;
  padding: 5px;
  transform: translateY(-15px);
  width: 180px;
}

button.close-options:hover {
  background-color: #a3a3a3;
  color: black;
}

button.top-bar-btns {
  margin-top: 12px;
}

.votes-container {
  transform: translate(73%, -50px);
  margin-left: -10px;
}

.votes {
  transform: translate(-80px, 3px);
  text-align: right;
  padding-right: 5px;
}

.forum-post-votes {
  display: inline-block;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 34px;
  text-align: left;
  transform: translate(100px, 3px);
  margin-right: -4px;
  overflow-x: hidden;
  width: 150px;
}

.forum-post-voting {
  float: left;
  transform: translate(-23px, -8px) scale(0.85);
  margin-bottom: 1px;
}

/* Webkit */
::-webkit-input-placeholder {
  color: #3c3c42;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #18181c;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #0d0d0f;
  border-radius: 5px;
}